h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-family: "Manrope";
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0em;
}

.button {
  font-size: 17px;
  font-weight: 700;
  line-height: 135.29%;
  letter-spacing: 0.01em;
  background: #F85A47;
  color: #fff;
  border: 1px solid #F85A47;
  cursor: pointer;
}

:root {
  --basic-color: #000;
  --text-color: #545A58;
  --white-color: #FFFFFF;
  --button-color: #F85A47;
  --text2-color: #333333;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.menu__container {
  position: relative;
  min-height: 100px;
}

.menu__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
}

.menu__logo {
  font-size: 23px;
  font-weight: 800;
  line-height: 134.78%;
  color: var(--basic-color);
}

.menu__list {
  display: flex;
  gap: 46px;
}

.menu__item:hover {
  text-decoration: underline;
}

.menu__link {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 130.76%;
  color: #000000;
}

@media (max-width: 768px) {
  .menu__list {
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .menu__nav {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu__body {
    padding-top: 20px;
  }
}
.hero__container::after {
  background: #BDCCFF;
  content: "";
  position: absolute;
  top: 0;
  left: 63.5%;
  height: 841px;
  width: 500px;
}

.hero__body {
  display: flex;
  position: relative;
  padding-top: 184px;
}

.hero__content {
  position: relative;
  z-index: 100;
  flex: 0 1 50%;
}

.hero__main-title {
  margin-bottom: 24px;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 131.81%;
  color: #ff9900;
}

.hero__title {
  font-size: 54px;
  font-weight: 800;
  line-height: 135.18%;
  margin-bottom: 23px;
}

.hero__subtitle {
  font-size: 17px;
  line-height: 135.29%;
  letter-spacing: 0.01em;
  margin-bottom: 48px;
  color: var(--text-color);
}

.hero__form {
  position: relative;
  z-index: 100;
  display: flex;
  background-image: url("../icon/house.svg");
  background-repeat: no-repeat;
  background-position: 33px 32px;
  border: 1px solid #DADADA;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.hero__input {
  flex: 1 1 auto;
  padding: 30px 30px 30px 74px;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #DADADA;
  color: var(--basic-color);
}
.hero__input::placeholder {
  color: rgba(49, 53, 59, 0.3);
}

.hero__button {
  padding: 31px 41px;
  margin-right: -60px;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: #f3230c;
}

.hero__swim-list {
  position: fixed;
  z-index: 50;
  top: 200px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.hero__swim-icon {
  width: 19px;
  height: 18px;
}

.hero__partner-container {
  position: relative;
  z-index: 50;
}

.hero__partner-text {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.hero__partner-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero__icon {
  fill: var(--text-color);
  width: 100px;
  height: 60px;
  cursor: pointer;
  transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__icon:hover {
  fill: var(--button-color);
}

@media (max-width: 1250px) {
  .hero__title {
    font-size: 34px;
  }
  .hero__form {
    flex-wrap: wrap;
    width: 77%;
    border: none;
    background-position: 20px 25px;
  }
  .hero__input {
    padding: 20px 30px 20px 74px;
  }
  .hero__button {
    min-width: 100%;
    padding: 15px 30px;
    margin-top: 10px;
  }
}
@media (max-width: 1200px) {
  .hero__body {
    display: block;
    padding-top: 100px;
  }
  .hero__container::after {
    display: none;
  }
  .hero__partner-container {
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .hero__main-title {
    margin-bottom: 15px;
  }
  .hero__title {
    margin-bottom: 15px;
  }
  .hero__subtitle {
    margin-bottom: 15px;
  }
  .hero__partner-text {
    margin-bottom: 0px;
  }
  .hero__partner-list {
    gap: 0;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .hero__swimmer-container {
    display: none;
  }
}
@media (max-width: 600px) {
  .hero__form {
    background-image: none;
    min-width: 100%;
  }
  .hero__input {
    padding: 20px;
  }
  .hero__input::placeholder {
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 22px;
  }
  .hero__main-title {
    font-size: 16px;
  }
}
.howto__container {
  padding-top: 230px;
  padding-bottom: 100px;
}

.howto__title {
  text-align: center;
  margin-bottom: 70px;
}

.howto__list {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 160px;
}

.howto__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.howto__subtitle {
  margin-top: -110px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.howto__text {
  line-height: 26px;
  color: var(--text2-color);
}

@media (max-width: 1200px) {
  .howto__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .howto__title {
    margin-bottom: 30px;
  }
  .howto__list {
    gap: 80px;
  }
}
@media (max-width: 992px) {
  .howto__title {
    font-size: 34px;
  }
  .howto__list {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .howto__subtitle {
    margin-top: -150px;
  }
}
@media (max-width: 480px) {
  .howto__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .howto__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .howto__subtitle {
    font-size: 18px;
  }
}
.estate__container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.estate__body {
  display: flex;
  justify-content: space-between;
}

.estate__title {
  margin-bottom: 15px;
}

.estate__subtitle {
  margin-bottom: 50px;
  max-width: 480px;
  line-height: 24px;
}

.estate__button-all {
  padding: 21px 33px 21px 33px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.estate__button-all:hover {
  background-color: #f3230c;
  transform: scale(0.8);
}

.estate__list {
  display: flex;
  padding-bottom: 45px;
  column-gap: 50px;
}

.estate__button {
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  background-color: var(--white-color);
  cursor: pointer;
}
.estate__button:hover {
  color: var(--button-color);
  text-decoration: underline;
}

.estate__tab-list {
  display: flex;
  gap: 30px;
}

.estate__tab-item {
  position: relative;
}

.estate__tab-options {
  position: absolute;
  z-index: 25;
  left: 14px;
  top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.estate__tab-option {
  padding: 6px 12px;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--white-color);
  border-radius: 5px;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}
.estate__tab-option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.estate__tab-image {
  position: relative;
  display: block;
  transition: transform 0.3s ease 0s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.estate__tab-image:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .estate__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .estate__title {
    font-size: 34px;
  }
  .estate__list {
    padding-bottom: 20px;
    gap: 20px;
  }
  .estate__tab-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .estate__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .estate__body {
    flex-wrap: wrap;
  }
  .estate__subtitle {
    margin-bottom: 20px;
  }
  .button-box {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .estate__container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .estate__title {
    font-size: 22px;
  }
}
.week__container {
  padding-top: 120px;
  padding-bottom: 190px;
}

.week__title {
  margin-bottom: 95px;
  text-align: center;
}

.week__content {
  display: flex;
  justify-content: space-between;
  background-color: #F1FFFF;
}

.week__slide {
  flex: 0 1 50%;
  padding: 40px 0px 0px 40px;
}

.week__ibg {
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  padding: 0px 40px;
  margin-top: -113px;
}

.week__info {
  flex: 0 1 50%;
  padding: 80px 0px 0px 70px;
}

.week__subtitle {
  margin-bottom: 30px;
  font-size: 31px;
  font-weight: 600;
  line-height: 135.48%;
  width: 380px;
}

.week__text {
  margin-bottom: 40px;
  line-height: 150%;
  color: var(--text-color);
  width: 344px;
}

.week__colums {
  display: flex;
}

.week__table {
  margin-bottom: 17px;
}

.week__items-title {
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 700;
  line-height: 135.29%;
}

.week__items-text {
  font-size: 17px;
  line-height: 135.29%;
  color: var(--text-color);
  padding: 0px 60px 37px 0px;
}

.week__button {
  padding: 16px 37px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.week__button:hover {
  background-color: #f3230c;
  transform: scale(0.8);
}

.week__img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.week__ibg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .week__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .week__title {
    font-size: 34px;
    margin-bottom: 40px;
  }
  .week__subtitle {
    font-size: 24px;
  }
  .week__info {
    padding: 40px 0px 0px 30px;
  }
}
@media (max-width: 992px) {
  .week__subtitle {
    margin-bottom: 15px;
  }
  .week__text {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .week__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .week__title {
    margin-bottom: 20px;
  }
  .week__info {
    text-align: center;
    padding: 40px 0px 0px 0px;
  }
  .week__subtitle {
    width: 100%;
  }
  .week__text {
    width: 100%;
  }
  .week__colums {
    justify-content: center;
    text-align: center;
  }
  .week__items-text {
    padding: 0px 15px 17px 15px;
  }
}
@media (max-width: 480px) {
  .week__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .week__title {
    font-size: 22px;
    margin-bottom: 10;
  }
  .week__info {
    padding: 20px 0px 0px 0px;
  }
  .week__subtitle {
    font-size: 18px;
  }
  .week__slide {
    display: none;
  }
  .week__items-text {
    padding: 0px 7px 15px 7px;
  }
  .week__button {
    padding: 15px 15px;
    font-size: 14px;
  }
}
.loved__container {
  padding-bottom: 210px;
}

.loved__title {
  width: 570px;
  margin-bottom: 50px;
}

.loved__list {
  display: flex;
  gap: 30px;
}

.loved__item {
  display: flex;
  flex-direction: column;
  padding: 52px 72px 53px 38px;
  width: 33.3333%;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.loved__icon-stars {
  width: 96px;
  height: 20px;
  margin-bottom: 33px;
}

.loved__text {
  flex: 1 1 auto;
  margin-bottom: 60px;
  color: var(--text2-color);
  line-height: 175%;
}

.loved__person {
  display: flex;
}

.loved__person-icon {
  padding: 0px 20px 0px 0px;
}

.loved__person-top {
  font-weight: 700;
  line-height: 137.5%;
  color: var(--text2-color);
}

.loved__person-bottom {
  font-size: 14px;
  line-height: 135.71%;
  color: #666666;
}

.loved__partner {
  display: flex;
  margin-top: 85px;
  justify-content: space-between;
  align-items: center;
}

.loved__partner-icon {
  display: flex;
  gap: 80px;
}

.loved__icon {
  width: 100px;
  height: 100px;
  fill: var(--text1-color);
  cursor: pointer;
}
.loved__icon:hover {
  fill: var(--button-color);
}

.loved__partner-call {
  width: 311px;
}

.loved__partner-call-text {
  line-height: 150%;
  color: #333333;
  padding-left: 15px;
}

.loved__partner-link {
  color: #2CBDE7;
  border-bottom: 1px solid #2CBDE7;
}

@media (max-width: 1060px) {
  .loved__box {
    padding: 40px 15px 0px 15px;
  }
  .loved__title {
    padding-bottom: 20px;
  }
  .loved__partner {
    padding-top: 35px;
  }
  .loved__partner-icon {
    gap: 40px;
  }
}
@media (max-width: 900px) {
  .loved__colum {
    flex-direction: column;
  }
  .loved__icon {
    padding: 24px 0px 14px 18px;
  }
  .loved__text {
    padding: 0px 32px 13px 18px;
  }
  .loved__person-bottom {
    padding: 0px 0px 22px 0px;
  }
  .loved__partner-icon {
    flex-wrap: wrap;
  }
  .loved__person-icon {
    padding: 0px 20px 0px 18px;
  }
}
@media (max-width: 600px) {
  .loved__title {
    width: 100%;
    font-size: 36px;
  }
  .loved__partner {
    flex-direction: column;
  }
  .loved__partner-callus-text {
    padding: 20px 0px 0px 0px;
  }
}
.get__container {
  padding-top: 160px;
  padding-bottom: 60px;
}

.get__body {
  text-align: center;
  margin-bottom: 35px;
}

.get__title {
  margin-bottom: 11px;
  font-size: 45px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: #31353B;
}

.get__subtitle {
  font-size: 23px;
  font-weight: 700;
  line-height: 143.47%;
  letter-spacing: 0.02em;
  color: #31353B;
}

.get__form {
  display: flex;
  width: 686px;
  margin: 0 auto;
  justify-content: space-between;
  background: var(--white-color);
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.get__input {
  width: 400px;
  padding: 0px 0px 0px 45px;
  font-size: 20px;
  font-weight: 700;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  outline: none;
  border: none;
}

.get__input::placeholder {
  font-size: 17px;
  font-weight: 500;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353B;
  opacity: 0.2;
  padding: 27px 0px 0px 0px;
}

.get__button-button {
  padding: 26px 30px 26px 0px;
}

.get__button {
  padding: 23px 40px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.get__button:hover {
  background-color: #f3230c;
  transform: scale(0.8);
}

.get__line {
  margin: 0 auto;
  border-bottom: 1px solid #DEDFE1;
  padding: 160px 0px 50px;
  width: 889px;
}

@media (max-width: 1060px) {
  .get {
    padding-top: 0px;
  }
  .get__box {
    padding: 50px 15px 0px 15px;
  }
  .get__line {
    padding: 30px 0px 0px 0px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .get__title {
    font-size: 32px;
  }
  .get__form-form {
    flex-direction: column;
  }
  .get__button-button {
    padding: 26px 0px 26px 0px;
  }
  .get__input {
    width: 100%;
  }
  .get__button {
    width: 100%;
  }
  .get__form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .get__box {
    padding: 20px 15px 0px 15px;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-size: 23px;
  font-weight: 800;
  line-height: 134.78%;
  color: #31353B;
}

.footer__list {
  display: flex;
  gap: 46px;
}

.footer__item {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 700;
}
.footer__item:hover {
  text-decoration: underline;
}

.footer__link {
  color: #31353B;
}

.footer__Copyright {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0px 20px 0px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 133.33%;
  color: #31353B;
}

@media (max-width: 1060px) {
  .footer__menu-conteiner {
    padding: 24px 0px 30px 0px;
  }
  .footer__menu-box {
    padding: 30px 15px 0px 15px;
  }
}
@media (max-width: 900px) {
  li {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .footer__menu-item {
    padding-right: 15px;
  }
}
@media (max-width: 700px) {
  .footer__menu-conteiner {
    padding-top: 14px;
  }
  .footer__menu-logo {
    padding: 16px 8px 0px 0px;
  }
}
@media (max-width: 600px) {
  .footer__menu-box {
    flex-direction: column;
  }
  .footer__menu-list {
    flex-wrap: wrap;
  }
}
.backdrop__submit {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal__submit {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-container {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.modal__submit-body {
  text-align: center;
  border-radius: 10px;
}

.modal__submit-title {
  font-size: 30px;
}

.modal__submit-text {
  margin-bottom: 15px;
}

.modal__submit-button-close {
  color: var(--title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-button-close:hover {
  color: var(--white-color);
  background-color: var(--button-color);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.backdrop__booking {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.modal__booking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__booking-container {
  padding: 40px 20px;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
}

.modal__booking-body {
  text-align: center;
  border-radius: 10px;
}

.modal__booking-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  height: 15px;
  background-color: var(--title-color);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  cursor: pointer;
}

.modal__booking-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 800;
  line-height: 138%;
  color: var(--title-color);
}

.modal__booking-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.modal__label-name {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 132%;
}

.modal__booking-input {
  border-radius: 5px;
  padding: 5px;
}

.modal__booking-button {
  color: var(--white-color);
  background-color: var(--button-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__booking-button:hover {
  color: var(--title-color);
  background-color: var(--white-color);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.swiper {
  width: 603px;
  height: 573px;
  flex: 0 1 50%;
}

.swiper-img {
  position: relative;
  width: 650px;
  height: 573px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .swiper {
    display: none;
  }
}
#burger__toggle {
  position: absolute;
  top: 43px;
  right: 26px;
  opacity: 0;
}

.burger__btn {
  display: none;
  align-items: center;
  position: absolute;
  top: 37px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.burger__btn > span::before {
  content: "";
  top: -8px;
}

.burger__btn > span::after {
  content: "";
  top: 8px;
}

.burger__container {
  visibility: hidden;
  position: fixed;
  z-index: 50;
  top: 100px;
  right: -100%;
  min-width: 600px;
  height: 400px;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: #ECEFF1;
}

.burger__nav {
  display: flex;
  justify-content: center;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.burger__item {
  padding: 12px 24px;
}
.burger__item:hover {
  background-color: #CFD8DC;
  text-decoration: underline;
}

.burger__link {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 130.76%;
  color: #000000;
}

#burger__toggle:checked ~ .burger__btn > span {
  transform: rotate(45deg);
}

#burger__toggle:checked ~ .burger__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#burger__toggle:checked ~ .burger__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger__toggle:checked ~ .burger__container {
  visibility: visible;
  right: 0%;
}

@media (max-width: 600px) {
  .menu__nav {
    display: none;
  }
  .burger__btn {
    display: flex;
  }
}
@media (min-width: 600px) {
  .burger__container {
    display: none;
  }
}
@media (max-width: 480px) {
  #burger__toggle {
    top: 27px;
  }
  .burger__btn {
    top: 20px;
  }
}/*# sourceMappingURL=main.css.map */