.menu__burger-btn {
    padding-right: 15px;
    cursor: pointer;
  }
  .menu__burger-icon {
    display: block;
    width: 40px;
    height: 40px;
  }
 .menu__burger {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0px;
    right: 0px;
    background-color: var(--white-color);
    transition: 0.7s;
 }
 .active__burger {
    display: block;
    transition: 0.7s;
 }
 .menu__burger-container {
    height: 100vh;
    overflow: auto;
    width: 337px;
    height: 580px;
    margin: 0 auto;
    padding: 40px 30px 30px 40px;
 }
 .menu__burger-cross {
    margin-bottom: 30px;
    margin-left: 220px;
    cursor: pointer;
 }
 .menu__burger-closed {
    width: 40px;
    height: 40px;
 }
 .menu__burger-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 64px;
 }
 .menu__burger-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
 
    color: var(--title-color);
    &:hover {
       color: var(--button-color);
    }
 }
 .menu__burger-contacts {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;   
 }
 .menu__burger-tel {
    color: var(--title-color);
    &:hover {
       color: var(--button-color);
    }
 }
 .menu__burger-button {
    color: var(--title-color);
    margin-top: 24px;
    padding: 12px 37px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
       background-color: var(--button-color);
       color: var(--white-color);
    }
 }
 .burger-box {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
 
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.2em;
 }
 .burger-nav-item {
    margin-bottom: 24px;
    list-style-type: none;
    &:last-child {
       margin-bottom: 0px;
    }
 }
 .burger-nav-inst {
    color: var(--title-color);
 }
 .burger-nav-youtube {
    color: var(--title-color);
 }
 @media screen and (min-width:768px) {
    .menu__burger-btn {
      display: none;
    }
    .menu__burger {
      display: none;
    }
 }