.contact {
   background-color: #191C26;
   background-image: url('../img/contacts/img.webp');
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   max-width: 480px;
}
.contact__container {
   padding: 84px 15px;
}
.contact-box {
   margin: 70px 0px 20px 0px;
}
.contact__title {
   margin-bottom: 40px;
   color: var(--white-color);
}
.contact__list-item {
   margin-bottom: 20px;
   &:last-child {
      margin-bottom: 0px;
   }
}
.contact__list-address {
   display: flex;
   align-items: center;
   font-weight: 700;
   color: var(--for-card-color);
}
.contact__text,
.contact__list-email,
.contact__list-phone {
   display: flex;
   align-items: center;
   color: var(--for-card-color);
}
.contact__subtitle {
   font-size: 11px;
   font-weight: 600;
   line-height: 1.36px;
   text-transform: uppercase;
 
   color: var(--white-color);
}
.icon {
   margin-right: 10px;
   width: 24px;
   height: 24px;
}
@media screen and (min-width:768px) {
   .contact {
      background-image: url('../img/contacts/img768.webp');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      max-width: 785px;
   }
   .contact__container {
      display: flex;
      align-items: center;
   }
   .contact__body-wrap {
      width: 330px;
   }
   .contact__working-wrap {
      margin-left: 30px;
      width: 50%;
   }
}
@media screen and (min-width:1200px) {
   .contact {
      background-image: url('../img/contacts/img1200.webp');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      max-width: 785px;
   }
   .contact__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
   .contact__body-wrap {
      margin-left: 100px;
   }
   .contact__working-wrap {
      margin-left: 0px;
      margin-left: 100px;
      width: 50%;
   }
   .contact__body-wrap {
      width: 400px;
   }
}