.estate__container {
    padding-top: 120px;
    padding-bottom: 120px;
}
.estate__body {
    display: flex;
    justify-content: space-between;
}
.estate__title {
    margin-bottom: 15px;
}
.estate__subtitle {
    margin-bottom: 50px;
    max-width: 480px;
    line-height: 24px;
}
.estate__button-all {
    padding: 21px 33px 21px 33px;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #f3230c;
        transform: scale(0.8);
    }
}
/*====================== Т А Б Ы ========================*/

.estate__list {
    display: flex;
    padding-bottom: 45px;
    column-gap: 50px;
}
.estate__button {
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    background-color: var(--white-color);
    cursor: pointer;
    &:hover {
        color: var(--button-color);
        text-decoration: underline;
    }   
}
.estate__tab-list {
    display: flex;
    gap: 30px;
}
.estate__tab-item {
    position: relative;
}
.estate__tab-options {
    position: absolute;
    left: 14px;
    top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    z-index: 25;
}
.estate__tab-option {
    border-radius: 5px;
    border: 1px solid var(--white-color);
    background-color: rgba(0, 0, 0, 0.4);
    color:  var(--white-color);
    padding: 6px 12px;
    transition: background-color 0.3s ease 0s ;
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.estate__tab-image {
    position: relative;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease 0s; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
        transform: scale(1.1);
    }
}
/*====================== Т А Б Ы ========================*/
@media(max-width:1200px){
    .estate__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .estate__title {
        font-size: 34px;
    }
    .estate__list {
        padding-bottom: 20px;
        gap: 20px;
    }
    .estate__tab-list {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width:992px){
    .estate__list {
        flex-wrap: wrap;
    }
}
@media(max-width:768px){
    .estate__body {
        flex-wrap: wrap;
    }
    .estate__subtitle {
        margin-bottom: 20px;
    }
    .button-box {
        margin-bottom: 20px;
    }
}
@media(max-width:600px){
    .estate__container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
@media(max-width:480px){
    .estate__title {
        font-size: 22px;
    }
}