.footer__menu-box {
   display: flex;
   justify-content: space-between;
   min-height: 100px;
   padding: 66px 15px 0px 15px;
}
.footer__menu-logo {
   padding: 26px 8px 0px 0px;
   font-size: 23px;
   font-weight: 800;
   line-height: 134.78%;
   color: #31353B;
}
.footer__menu-conteiner {
   padding: 24px 0px 77px 0px;
}
.footer__menu-list {
   display: flex;
}
.footer__menu-item {
   padding-right: 46px;
}
.footer__menu-item:last-child{
   padding-right: 0px;
}
.footer__menu-item:hover{
   text-decoration: underline;
}
.footer__menu-link {
   color: #31353B;
}
.footer__Copyright {
   font-family: DM Sans;
   font-size: 12px;
   font-weight: 700;
   line-height: 133.33%;
   color: #31353B;
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 20px;
}
@media(max-width:1060px){
   .footer__menu-conteiner {
       padding: 24px 0px 30px 0px;
   }
   .footer__menu-box {
       padding: 30px 15px 0px 15px;
   }
}
@media(max-width:900px){
   li {
       font-size: 16px;
   }
}
@media(max-width:800px){
   .footer__menu-item {
       padding-right: 15px;
   }
}
@media(max-width:700px){
   .footer__menu-conteiner {
       padding-top: 14px;
   }
   .footer__menu-logo {
       padding: 16px 8px 0px 0px;
   }
}
@media(max-width:600px){
   .footer__menu-box {
       flex-direction: column;
   }
   .footer__menu-list {
       flex-wrap: wrap;
   }
}