.footer__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__logo {
   font-size: 23px;
   font-weight: 800;
   line-height: 134.78%;
   color: #31353B;
}
.footer__list {
   display: flex;
   gap: 46px;
}
.footer__item {
   font-family: 'DM Sans';
   font-size: 13px;
   font-weight: 700;
   &:hover{
      text-decoration: underline;
   }
}
.footer__link {
   color: #31353B;
}
.footer__Copyright {
   max-width: 1200px;
   margin: 0 auto;
   padding: 70px 0px 20px 0px;
   text-align: center;

   font-family: 'DM Sans';
   font-size: 12px;
   font-weight: 700;
   line-height: 133.33%;
   color: #31353B;
}
@media(max-width:1200px){
   .footer__Copyright {
      padding: 40px 0px 20px 0px;
   }
}
@media(max-width:768px){
   .footer__logo {
      padding-right: 20px;
   }
   .footer__list {
      flex-wrap: wrap;
      gap: 15px;
   }
}