.loved__container {
    padding-bottom: 210px;
}
.loved__title {
    max-width: 570px;
    margin-bottom: 50px;
}
.loved__list {
    display: flex;
    gap: 30px;
}   
.loved__item {
    display: flex;
    flex-direction: column;
    padding: 52px 72px 53px 38px;
    width: 33.3333%;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.loved__icon-stars {
    width: 96px;
    height: 20px;
    margin-bottom: 33px;
}
.loved__text {
    flex: 1 1 auto;
    margin-bottom: 60px;
    color: var(--text2-color);
    line-height: 175%;
}
.loved__person {
    display: flex;
}
.loved__person-icon {
    padding: 0px 20px 0px 0px;
}
.loved__person-top {
    font-weight: 700;
    line-height: 137.5%;
    color: var(--text2-color);
}
.loved__person-bottom {
    font-size: 14px;
    line-height: 135.71%;
    color: #666666;
}
.loved__partner {
    display: flex;
    margin-top: 85px;
    justify-content: space-between;
    align-items: center;
}
.loved__partner-icon {
    display: flex;
    gap: 80px;
}
.loved__icon {
    width: 100px;
    height: 100px;
    fill: var(--text-color);
    cursor: pointer;
    &:hover {
        fill: var(--button-color);
    }
}
.loved__partner-call {
    width: 311px;
}
.loved__partner-call-text {
    line-height: 150%;
    color: #333333;
    padding-left: 15px;
}
.loved__partner-link {
    color: #2CBDE7;
    border-bottom: 1px solid #2CBDE7;
}
@media(max-width:1200px){
    .loved__container {
        padding-bottom: 50px;
    }
    .loved__title {
        margin-bottom: 20px;
        font-size: 34px;
    }
    .loved__item {
        padding: 22px 32px 23px 18px;
    }
    .loved__text {
        margin-bottom: 30px;
    }
    .loved__partner {
        margin-top: 40px;
    }
    .loved__partner-icon {
        gap: 40px;
    }
}
@media(max-width:992px){
    .loved__list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .loved__partner {
        justify-content: center;
        flex-wrap: wrap;
    }
    .loved__partner-icon {
        flex-wrap: wrap;
    }
}
@media(max-width:768px){
    .loved__title {
        font-size: 22px;
        margin-bottom: 0;
    }
    .loved__item {
        width: 100%;
    }
    .loved__partner-icon {
        justify-content: center;
        gap: 35px;
    }
}