.menu__container {
   position: relative;
   display: flex;
   max-width: 480px;
   height: 580px;
   margin: 0 auto;
 }
 .menu__navigation {
   position: absolute;
   z-index: 1000;

   display: flex;
   justify-content: center;
   align-items: center;

   padding: 40px 15px 0px 15px;
 
   font-size: 12px;
   font-weight: 600;
   line-height: 1.33;
   letter-spacing: 0.1em;
 }
 .menu__logo-icon {
    width: 69px;
    height: 56px;
    fill: var(--white-color);
 }
.menu__navigation-list {
   display: none;
}
.menu__navigation-link {
   color: var(--white-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover {
      color: var(--button-color);
   }
}
.menu__navigation-contacts {
   display: none;
}
 .menu__navigation-tel {
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--button-color);
    }
 }
 .menu__navigation-button{
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover{
    background-color: var(--button-color);
   }
}
 .menu__content {
   position: absolute;
   top: 0;
   z-index: 500;
   padding: 202px 15px 0px 15px;
}
 .menu__subtitle {
    position: relative;
 }
 .menu__title {
    margin: 20px 0px;
 
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--white-color);
 }
 .menu__text {
    font-size: 16px;
    color: var(--for-card-color);
 }
 .scroll-up__button {
   position: fixed;
   z-index: 500;
   bottom: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   background-color: var(--button-color);
   color: var(--white-color);
   border: 1px solid var(--title-color);
   border-radius: 50%;
 }
 @media screen and (min-width:300px) {
   .menu__logo {
      margin-right: 200px;
   }
 }
 @media screen and (min-width:400px) {
   .menu__logo {
      margin-right: 250px;
   }
 }
  @media screen and (min-width:768px) {
    .menu__container {
       max-width: 740px;
       height: 680px;
       margin: 0 auto;
       padding: 0px 15px 0px 0px;
    }
    .menu__logo {
      margin-right: 40px;
   }
    .menu__navigation-list {
       display: flex;
       gap: 20px;
    }
    .menu__navigation-contacts {
       display: flex;
       flex-direction: column-reverse;
       text-align: center;
       margin-left: 60px;
    }
    .menu__navigation-tel {
       margin-top: 20px;
    }
    .menu__content {
       margin-left: 100px;
    }
   .scroll-up__button {
      display: none;
    }
 }
 @media screen and (min-width:1200px) {
    .menu__container {
       max-width: 1070px;
       height: 680px;
       margin: 0 auto;
       padding: 0px 15px 0px 90px;
       flex-direction: column;
       &::before{
         content: "";
         display: block;
         position: absolute;
         top: 32px;
         left: 0px;
         background-image: url('../icon/Logo.svg');
         background-repeat: no-repeat;
         background-size: contain;
         width: 69px;
         height: 56px;
      }
    }
    .menu__logo {
      display: none;
   }
   .menu__navigation {
      display: flex;
      padding: 40px 15px 0px 59px;
   }
    .menu__navigation-contacts {
       display: flex;
       flex-direction: row;
       align-items: center;
 
       column-gap: 43px;
       margin-left: 200px;
    }
    .menu__navigation-tel {
       margin-top: 0px;
    }
    .menu__navigation-list {
       gap: 30px;
    }
}