.backdrop__booking {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46,47,66,.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}
.modal__booking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0,0,0,.14), 0px 1px 3px rgba(0,0,0,.12), 0px 2px 1px rgba(0,0,0,.2);
    border-radius: 8px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__booking-container {
    padding: 40px 20px;
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
}
.modal__booking-body {
    text-align: center;
    border-radius: 10px;
}
.modal__booking-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    height: 15px;
    background-color: var(--title-color);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    cursor: pointer;
}
.modal__booking-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 800;
    line-height: 138%;
    color: var(--title-color);
}
.modal__booking-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.modal__label-name {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 132%;
}
.modal__booking-input {
    border-radius: 5px;
    padding: 5px;
}
.modal__booking-button {
    color: var(--white-color);
    background-color: var(--button-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--title-color);
        background-color: var(--white-color);
    }
}
.is-open{
    opacity: 1;
    pointer-events: auto;
}