.backdrop__subscribe {
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46,47,66,.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}
.modal__subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0,0,0,.14), 0px 1px 3px rgba(0,0,0,.12), 0px 2px 1px rgba(0,0,0,.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__subscribe-container {
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}
.modal__subscribe-body {
    text-align: center;
    border-radius: 10px;
}
.modal__subscribe-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 800;
    line-height: 138%;
}
.modal__subscribe-text {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 132%;
}
.modal__subscribe-button {
    padding: 10px 15px;
    min-width: 117px;
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
    background-color: var(--button-color);
    border-radius: 5px;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #f3230c;
        transform: scale(0.8);
    }
}
.is-open {
    opacity: 1;
    pointer-events: auto;
}