.swiper {
   width: 603px;
   height: 573px;
   flex: 0 1 50%;
}
.swiper-img {
   position: relative;
   width: 650px;
   height: 573px;
   object-fit: cover;
}
@media(max-width:1200px){
   .swiper {
      display: none;
   }
}