 .swiper-wrapper {
    max-width: 480px;
    height: 580px;
 }
 .swiper-img {
    max-width: 480px;
    height: 580px;
 }
 .swiper-button {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 40px;
    right: 150px;
 
    color: var(--white-color);
    cursor: pointer;
 
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.1px;
 }
 .swiper-button-back {
    &::after{
       content: "";
       display: block;
       width: 70px;
       height: 2px;
       background-color: var(--white-color);
    }
 }
 .swiper-button-forward {
    margin-left: 30px;
    &::after{
       content: "";
       display: block;
       width: 70px;
       height: 2px;
       background-color: var(--white-color);
    }
 }
 @media screen and (min-width:768px) {
    .swiper-wrapper {
        max-width: 740px;
        height: 680px;
   }
   .swiper-img {
        max-width: 740px;
        height: 680px;
    }
    .swiper-button {
        display: flex;
        right: 70px;
    }
 }
 @media screen and (min-width:1200px) {
    .swiper-wrapper {
        max-width: 1070px;
        height: 680px;
   }
   .swiper-img {
        max-width: 1070px;
        height: 680px;
   }
    .swiper-button {
        right: 0px;
    }
 }